.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  padding: 1% 0 30% 0;
  margin-top: -2%; 
  font-family: Helvetica, Arial, Sans-Serif;
}

.renge {
  width: 30%;
  padding: 30px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  &__form {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  &__input {
    margin-top: 20px;
    width: 50%;
  }

  &__block {
    width: 100%;
    position: relative;
  }

  &__line {
    margin-top: 40px;
    width: 100%;
    height: 15px;
    background-color:#fafafa;
    border: 1px solid gray;
    border-radius: 3px;
  }

  &__selected-line {
    width: 0%;
    height: 95%;
    background-color:gray;
    // border: 1px solid gray;
    border-radius: 3px;
    z-index: -1;
  }

  &__min-slider {
    width: 20px;
    height: 35px;
    position: absolute;
    top: 55%;
    left: 0%;
    background-color: #ddd;
    border: 1px solid gray;
    border-radius: 3px; 
    cursor: pointer;
  }

  &__min-slider:active {
    background-color: #dd4;
  }

  &__max-slider {
    width: 20px;
    height: 35px;
    position: absolute;
    top: 55%;
    left: 100%;
    background-color: #ddd;
    border-radius: 3px; 
  }

  // &__max-slider-wrapper {
  //   padding: 10px;
  //   position: absolute;
  // }
  
  // &__min-slider-wrapper {
  //   padding: 10px;
  //   position: absolute;
  // }

}